h4 {
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    font-family: 'Staatliches', cursive;
}

.headline {
    text-decoration: underline;
}

img {
    height: 115px;
    width: auto;
    padding: 15px;
}

.small {
    width: 300px;
    margin-left: 50px;
    float: left;
    flex-wrap: wrap;
}

.font {
    color: black;
    font-size: 12px;
}

.cardpic {
    object-fit: cover;
}