h4 {
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    font-family: 'Staatliches', cursive;
}

.headline {
    text-decoration: underline;
}

.logo {
    height: 150px;
    width: auto;
}

img {
    height: 150px;
    width: auto;
}