.style {
    position: fixed;
    top: 0px;
    height: 800px;
    background-image: url("./cityview.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 0px;
    width: 100%;
    color: grey;
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    font-stretch: wider;
    letter-spacing: 6px;
};
