body {
    padding-top: 65px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 215px;
}

.button {
    margin-top: 30px;
}

.iframe {
    width: 90%;
    height: 500px;
}